#jinja2: lstrip_blocks: True
{% for tunnel in vpn_connections %}
{%   set __vpn_idx = loop.index0 %}
{%   if tunnel.auth_method == 'psk' %}
{%     for host, val in tunnel.hosts.items() %}
{%       if host == inventory_hostname or host == ansible_host %}
{%         for otherhost, otherval in __vpn_psks[__vpn_idx][host].items() %}
{%           if otherhost == item.item %}
{%             if tunnel.hosts[otherhost] is mapping and 'hostname' in tunnel.hosts[otherhost] %}
{%               set otherhost = tunnel.hosts[otherhost].hostname %}
{%             endif %}
{%             if tunnel.hosts[host] is mapping and 'hostname' in tunnel.hosts[host] %}
{%               set host = tunnel.hosts[host].hostname %}
{%             endif %}
@{{ host }} @{{ otherhost }} : PSK {{ otherval['pre_shared_key'] }}
{%           endif %}
{%         endfor %}
{%       endif %}
{%     endfor %}
{%   elif tunnel.auth_method == 'cert' %}
{%     set otherhost = item.item %}
{%     for host, val in tunnel.hosts.items() %}
{%       if host == inventory_hostname or host == ansible_host %}
{%         set cert_name = tunnel.hosts[host].cert_name %}
{%         if 'hostname' in tunnel.hosts[host] %}
{%           set host = tunnel.hosts[host].hostname %}
{%         endif %}
{%         if tunnel.hosts[otherhost] is mapping and 'hostname' in tunnel.hosts[otherhost] %}
{%           set otherhost = tunnel.hosts[otherhost].hostname %}
{%         endif %}
@{{ host }} @{{ otherhost }} : RSA "{{ cert_name }}"
{%       endif %}
{%     endfor %}
{%   endif %}
{% endfor %}
