#jinja2: lstrip_blocks: True
{% for tunnel in vpn_connections %}
{%   if item in tunnel.hosts %}
{%     set otherhost = tunnel.hosts[item].hostname | d((hostvars[item] | d({})).ansible_host | d(item)) %}
{%     for host in tunnel.hosts %}
{%       if host == inventory_hostname or host == ansible_host %}
{%         set host = tunnel.hosts[host].hostname | d((hostvars[host] | d({})).ansible_host | d(host)) %}
conn {{ (tunnel | json_query('name')) | ternary((tunnel.name | d('', true)) + '-', '') }}{{ host }}-to-{{ otherhost }}
  left={{ host }}
  leftid=@{{ host }}
{%       endif %}
{%     endfor %}
  right={{ otherhost }}
{%     if tunnel.auth_method == 'psk' %}
  rightid=@{{ otherhost }}
{%     endif %}
  ikev2={{ __vpn_ikev2 }}
{%     if 'auto' in tunnel %}
  auto={{ tunnel.auto }}
{%     endif %}
{%     if 'rekey' in tunnel %}
  rekey={{ tunnel.rekey | ternary('yes', 'no') }}
{%     endif %}
{%     if tunnel.auth_method == 'psk' %}
  authby=secret
{%     endif %}
{%     if tunnel.auth_method == 'cert' %}
  rightid=%fromcert
  leftrsasigkey=%cert
{%       for host in tunnel.hosts %}
{%         if host == inventory_hostname or host == ansible_host %}
  leftcert={{ tunnel.hosts[host].cert_name }}
{%         endif %}
{%       endfor %}
  rightrsasigkey=%cert
{%     endif %}
{%   endif %}
{% endfor %}