#jinja2: lstrip_blocks: True
{{ ansible_managed | comment }}
{{ "system_role:vpn" | comment(prefix="", postfix="") }}
{% for tunnel in __vpn_connections_fixed %}
{%   set __vpn_idx = loop.index0 %}
{%   if tunnel.auth_method == 'psk' %}
{%     for host, val in tunnel.hosts.items() %}
{%       if host == inventory_hostname or host == ansible_host %}
{%         for host_pairs_key in __vpn_psks[__vpn_idx] %}
{%           set host_pairs = host_pairs_key['host_pairs'] %}
{%           set pre_shared_key = host_pairs_key['pre_shared_key'] %}
{%           if (host_pairs[0] == item.item and host_pairs[1] == host) or (host_pairs[1] == item.item and host_pairs[0] == host) %}
{%             set thishost = host %}
{%             set host = tunnel.hosts[host].hostname | d((hostvars[host] | d({})).ansible_host | d(host)) %}
{%             set leftid = tunnel.hosts[thishost].leftid | d(host) %}
{%             set otherhost = tunnel.hosts[item.item].hostname | d((hostvars[item.item] | d({})).ansible_host | d(item.item)) %}
{%             set rightid = tunnel.hosts[item.item].rightid | d(otherhost) %}
{{ host | vpn_ipaddr | ternary('','@') }}{{ leftid }} {{ otherhost | vpn_ipaddr | ternary('','@') }}{{ rightid }} : PSK "{{ pre_shared_key }}"
{%           endif %}
{%         endfor %}
{%       endif %}
{%     endfor %}
{%   elif tunnel.auth_method == 'cert' %}
{%     set otherhost = item.item %}
{%     for host, val in tunnel.hosts.items() %}
{%       if host == inventory_hostname or host == ansible_host %}
{%         set cert_name = tunnel.hosts[host].cert_name | d((hostvars[host] | d({})).cert_name) %}
{%         set host = tunnel.hosts[host].hostname | d((hostvars[host] | d({})).ansible_host | d(host)) %}
{%         set otherhost = tunnel.hosts[otherhost].hostname | d((hostvars[otherhost] | d({})).ansible_host | d(otherhost)) %}
{{ host | vpn_ipaddr | ternary('','@') }}{{ host }} {{ otherhost | vpn_ipaddr | ternary('','@') }}{{ otherhost }} : RSA "{{ cert_name }}"
{%       endif %}
{%     endfor %}
{%   endif %}
{% endfor %}
